@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.black-nav{
  background-color: #000;
  width: 100%;
  display: flex;
  color: #fff;
  padding: 15px;
  font-size: 30px;
  justify-content: center;
}
.post-wrapper{
  width: 100%;
  padding: 15px;
}
.post{
  text-align: left;
  padding: 15px 15px;
  border-bottom: 1px solid rgba(0,0,0,.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post__title{
  font-size: 24px;
}
.post__date{
  opacity: .7;
}
.modal{
  margin-top: 20px;
  width: 100%;
  height: 500px;
  background-color: rgba(150, 150, 150, 0.4);
  /* box-shadow: 1px 1px 23px 0px rgba(150, 150, 150, 0.75); */
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}
.modal__title{
  font-size: 30px;
  margin-right: 20px;
}
.modal__date{
  opacity: .7;
}
.modal__info{
  margin-bottom: 10px;
  text-align: center;
}
.modal__content{
  font-size: 18px;
}